<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Airbrake.ApiKey" value="75d5016c879ec50262d884effb5fa368"/>
    <add key="Airbrake.Environment" value="development"/>
    <add key="Airbrake.ServerUri" value="http://api.airbrake.io"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
